* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.etiam {
  width: 100%;
  overflow: hidden;
}

.etiam .top .photo {
  position: relative;
}

.etiam .top .photo .content {
  text-align: center;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.etimain {
  width: 100%;
  height: 300vh;
}

.etimain .left {
  height: 100%;
}

.etimain .left p {
  font-weight: 600;
  color: gray;
}

.etimain .left h3 {
  font-size: 19px;
  font-weight: 600;
  padding: 35px 0 35px 0;
  border-top: 2px solid #95DCF7;
  border-bottom: 2px solid #95DCF7;
}

.etimain .left button {
  background-color: transparent;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #a8a8a8;
  border: 1px solid #a8a8a8;
}

.etimain .left button:hover {
  border-color: black;
  color: black;
}

.etimain .left .post .prev {
  font-size: 12px;
}

.etimain .left .post h4 {
  display: inline-block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.etimain .left .post h4:hover {
  color: #95DCF7;
}

.etimain .left .leave {
  text-align: center;
}

.etimain .left .leave h6 {
  font-size: 30px;
}

.etimain .left .leave .texar {
  min-height: 190px;
  width: 100%;
}

.etimain .left .leave .personal {
  margin: auto;
}

.etimain .left .leave .personal input {
  width: 100%;
}

.etimain .left .p-button .btn1 {
  padding: 15px 40px;
  border: none;
  border-radius: 2px;
  font-size: 17px;
  color: white;
  background-color: black;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.etimain .left .p-button .btn1:hover {
  background-color: cyan;
}

.etimain .right {
  height: 100%;
}

.etimain .right .search {
  text-align: center;
}

.etimain .right .search input {
  padding: 13px 50px;
  background-color: lightgray;
  border: none;
  border-radius: 2px;
}

.etimain .right .search button {
  padding: 13px 20px;
  border: none;
  border-radius: 2px;
  background-color: black;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.etimain .right .search button:hover {
  background-color: cyan;
}

.etimain .right .search button i {
  color: white;
}

.etimain .right .categories h1 {
  font-size: 20px;
  font-weight: 600;
}

.etimain .right .categories i {
  color: #9d9d9d;
}

.etimain .right .categories a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-left: 10px;
}

.etimain .right .post h1 {
  font-size: 20px;
  font-weight: 600;
}

.etimain .right .post h5 {
  font-size: 17px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.etimain .right .post h5:hover {
  color: cyan;
}

.etimain .right .post p {
  font-size: 13px;
}

.etimain .right .news {
  text-align: center;
  background-color: #e4e4e4;
}

.etimain .right .news .btn input {
  padding: 13px 20px;
  background-color: lightgray;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.etimain .right .news .btn button {
  padding: 18px 10px;
  border: none;
  border-radius: 2px;
  font-size: 10px;
  color: white;
  background-color: black;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.etimain .right .news .btn button:hover {
  background-color: cyan;
}

.etimain .right .meta h1 {
  font-size: 25px;
}

.etimain .right .meta h4 {
  font-size: 16px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.etimain .right .meta h4:hover {
  color: cyan;
}

.etimain .right .tags h1 {
  font-size: 25px;
}

.etimain .right .tags .collect button {
  background-color: transparent;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #a8a8a8;
  border: 1px solid #a8a8a8;
}

.etimain .right .tags .collect button:hover {
  border-color: black;
  color: black;
}

@media (max-width: 576px) {
  .etiam h1 {
    font-size: 20px;
  }
  .left .post h4 {
    display: none;
  }
  .left .leave .personal input {
    width: 100%;
  }
}
/*# sourceMappingURL=etiam.css.map */